aiohttp==3.9.1
asgiref==3.7.2
chardet==3.0.4
charset-normalizer==3.3.2
cloudinary==1.38.0
commonmark==0.9.1
Django==5.0.2
django-ckeditor==6.7.0
django-cloudinary-storage==0.3.0
django-js-asset==2.1.0
django-markdownx==4.0.7
django-otp==1.3.0
django-summernote==0.8.20.0
httpcore==0.16.3
httpx==0.23.1
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
phonenumbers==8.10.2
Pillow==9.3.0
platformdirs==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
typing_extensions==4.10.0
tzdata==2023.3
validate-mail==1.1
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
whitenoise==6.6.0