about-time
aiohttp
aiosignal
airdrop-ng
airgraph-ng
alive-progress
annotated-types
anyio
appdirs
application-utility
argcomplete
asgiref
async-generator
attrs
autocommand
autoslot
beautifulsoup4
beautifultable
bleach
blinker
bs4
btrfsutil
CacheControl
certifi
cffi
chardet
charset-normalizer
click
cloudinary
colorama
commonmark
coverage
cryptography
cssselect
cupshelpers
dbus-python
disnake
distro
Django
django-ckeditor
django-cloudinary-storage
django-js-asset
django-markdownx
django-otp
django-summernote
docopt
fastjsonschema
filelock
Flask
frozenlist
geographiclib
geopy
ghunt
grapheme
h11
h2
hpack
html5lib
httpcore
httpx
humanize
hyperframe
idna
ImageHash
importlib-metadata
inflect
inflection
itsdangerous
jaraco.context
jaraco.functools
jaraco.text
Jinja2
jsonpickle
keyutils
lensfun
lit
lockfile
lxml
manjaro-sdk
Markdown
markdown-it-py
MarkupSafe
martor
mdurl
more-itertools
msgpack
multidict
netsnmp-python
nftables
npyscreen
numpy
openai
ordered-set
outcome
packaging
pacman_mirrors
phonenumbers
Pillow
pipx
platformdirs
ply
protobuf
psycopg2
pybind11
pycairo
pycparser
pycups
pycurl
pydantic
pydantic_core
Pygments
PyGObject
PyOpenGL
pyotp
PyQt5
PyQt5-sip
pyserial
PySide2
PySide6
pysmbc
python-dateutil
python-dotenv
PyWavelets
PyYAML
reportlab
requests
rfc3986
rich
scipy
scour
shiboken2
shiboken6
shiboken6-generator
six
smbus
sniffio
sortedcontainers
soupsieve
sqlparse
systemd-python
TBB
tomli
tqdm
trio
trove-classifiers
typing_extensions
tzdata
udiskie
urllib3
userpath
validate-mail
validate-pyproject
wcwidth
webencodings
Werkzeug
whitenoise
yarl
zipp
zstandard