{%load static%}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/devbox-logo.png' %}" type="image/icon type">
    <title>DevBox | Login </title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" /> 
   <link rel="stylesheet" type="text/css" href="../css/register.css">
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
   <style>
   </style>
  </head>

  <body>
    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <a href="/" class="return-button has-background-link">
            <ion-icon name="arrow-back-circle"></ion-icon> Retour
          </a>
          <div class="columns">
            <div class="column left">
              <h1 class="title is-1">DevBox Community</h1>


              <p>Rejoignez notre communauté et commencez à découvrir les histoires, les astuces et les informations uniques les plus intéressantes dans notre domaine.</p>
              <p>En continuant, vous acceptez</p>              
              
              <div class="container">
                <!-- Ouvrez Button -->
                <a id="openModal">notre politique de confidentialité</a>
              </div>
            
              <!-- Mode pop out -->
              <div class="modal" id="myModal">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <!-- Contenu Pop out -->
                  <div class="box">
                    <!-- Content -->
                    <p>
                      <h2>Règles de DevBox Community:</h2>
                      <ul>
                          <li>Respectez les droits d'auteur et les droits de propriété intellectuelle. Ne copiez pas et ne publiez pas de contenu sans l'autorisation de l'auteur ou du titulaire des droits.</li>
                          <li>Ne promouvez ni n'encouragez la violence, la haine, la discrimination, le racisme ou d'autres comportements offensants.</li>
                          <li>Ne publiez ni ne distribuez de contenu sexuellement explicite, de nudité ou de matériel pour adultes.</li>
                          <li>Respectez la confidentialité et l'intimité des autres personnes. Ne publiez pas d'informations personnelles ou confidentielles sans leur autorisation.</li>
                          <li>Ne promouvez ni ne soutenez d'activités illégales ou de comportements non éthiques.</li>
                          <li>Ne publiez ni ne distribuez de contenu qui enfreint les lois ou les politiques locales, nationales ou internationales.</li>
                          <li>Ne pratiquez pas le trolling, le harcèlement ou l'intimidation envers d'autres utilisateurs.</li>
                          <li>Ne pas utiliser un langage vulgaire, obscène ou offensant dans les commentaires ou les publications.</li>
                          <li>Respectez les opinions et les points de vue différents. Ne faites pas d'attaques personnelles ou d'insultes à l'encontre d'autres utilisateurs.</li>
                          <li>Ne publiez ni ne distribuez de fausses informations, diffamatoires ou calomnieuses.</li>
                          <li>Ne publiez ni ne distribuez de spam ou de contenu non pertinent.</li>
                          <li>Respectez les droits de confidentialité des autres personnes. Ne publiez pas de photos ou d'autres matériels qui violent l'intimité ou les droits des autres personnes.</li>
                          <li>Ne faites pas de publicité ou de promotion inappropriée de produits ou de services.</li>
                          <li>Ne publiez ni ne distribuez de contenu encourageant des comportements dangereux ou autodestructeurs.</li>
                          <li>Respectez les droits d'auteur et les droits de propriété intellectuelle d'autres personnes. Ne publiez pas de contenu sans l'autorisation de l'auteur ou du titulaire des droits.</li>
                          <li>Ne publiez ni ne distribuez de contenu violant les droits de propriété intellectuelle, tels que la musique, les films, les logiciels ou d'autres matériaux protégés par les droits d'auteur.</li>
                          <li>Ne publiez ni ne distribuez d'informations ou de contenu violant les droits de confidentialité des autres personnes.</li>
                          <li>Ne publiez ni ne distribuez de contenu en violation des lois ou politiques locales, nationales ou internationales.</li>
                          <li>Ne publiez ni ne distribuez d'informations fausses, diffamatoires ou calomnieuses sur d'autres personnes ou organisations.</li>
                          <li>Respectez les règles et politiques de la plateforme de blogs ou de médias sociaux sur laquelle vous publiez. Ne violez pas les termes et conditions du service.</li>
                      </ul>
                    </p>
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
            </div>
            <div class="column right has-text-centered">
              <h1 class="title is-4">Log In</h1>
              <p class="description">Nous sommes heureux de vous revoir! Veuillez vous connecter pour accéder à votre compte.</p>
              {% if messages %}
              <div class="error-message">
                  {% for message in messages %}
                      {{ message }}
                  {% endfor %}
              </div>
              {% endif %}
              <form method="post" action="{% url 'login' %}" class="container" name="LoginForm">
                {% csrf_token %}
                <div class="field">
                  <div class="control">
                  </div>
                </div>
              
                <div class="field">
                  <div class="control">
                    <input class="input is-medium" type="email" placeholder="Email" name="email" value="{{ form.email.value|default:"" }}">
                    <input class="input is-medium" type="password" placeholder="Mot De Passe" name="password" value="{{ form.password.value|default:"" }}">
                  </div>
                </div>
                <button type="submit" class="button is-block is-link is-fullwidth is-medium">Log In</button>
                <br />
                <p>Mot de passe oublié ?</p> <a href="{%url 'reset_password'%}">Réinitialiser le mot de passe</a>
                <p>Vous n'avez pas encore un compte ?</p><a href="{% url 'register' %}">Inscrivez-vous ici</a>
              </form>
              
            </div>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-center">
              <small class="level-item" style="color: var(--textLight)">
                &copy; DevBox Community. All Rights Reserved.
              </small>
            </div>
          </nav>
        </div>
      </div>
    </section>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    // script.js
document.addEventListener('DOMContentLoaded', function () {
  const modal = document.getElementById('myModal');
  const openModalButton = document.getElementById('openModal');
  const modalCloseButtons = document.querySelectorAll('.modal-close, .modal-background');

  // Deschide modulul la click pe buton
  openModalButton.addEventListener('click', function () {
    modal.classList.add('is-active');
  });

  // Inchide modulul la click pe butonul de inchidere sau pe fundalul modalului
  modalCloseButtons.forEach(function (element) {
    element.addEventListener('click', function () {
      modal.classList.remove('is-active');
    });
  });
});

  </script>
  </body>
  <style>
    :root {
      --brandColor: #3e56c4;
      --background: rgb(247, 247, 247);
      --textDark: hsla(0, 0%, 0%, 0.66);
      --textLight: hsla(0, 0%, 0%, 0.33);
    }

    body {
      background: var(--background);
      height: 100vh;
      color: var(--textDark);
    }

    .field:not(:last-child) {
      margin-bottom: 1rem;
    }

    .register {
      margin-top: 3rem;
      background: white;
      border-radius: 10px;
    }

    .left,
    .right {
      padding: 4.5rem;
    }

    .left {
      border-right: 5px solid var(--background);
    }

    .left .title {
      font-weight: 800;
      letter-spacing: -2px;
    }

    .left .colored {
      color: var(--brandColor);
      font-weight: 500;
      margin-top: 1rem !important;
      letter-spacing: -1px;
    }

    .left p {
      color: var(--textLight);
      font-size: 1.15rem;
    }

    .right .title {
      font-weight: 800;
      letter-spacing: -1px;
    }

    .right .description {
      margin-top: 1rem;
      margin-bottom: 1rem !important;
      color: var(--textLight);
      font-size: 1.15rem;
    }

    .right small {
      color: var(--textLight);
    }

    input {
      font-size: 1rem;
    }

    input:focus {
      border-color: var(--brandColor) !important;
      box-shadow: 0 0 0 1px var(--brandColor) !important;
    }

    .fab,
    .fas {
      color: var(--textLight);
      margin-right: 1rem;
    }

  </style>

</html>