{%extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    {%block content%}

    {%for news in news_post%}
   <h1 class="title has-text-centered">{{news.title}}</h1>
    <p class="has-text-centered">{{news.body}}</p>
    {%endfor %}




    <h1 class=" has-text-centered"> We are working on the following things: </h1>
   <div class="has-text-centered">

    <li>We fix the bug at the verification link </li>

    <li>We add functionalities such as user profile, comments, likes/dislikes and others.</li> 

    <li>We fix another bugs</li>

   </div>

   <p class="has-text-centered">If You Have Another Question Or Do You Want To Contact Us / Report A Problem , check our <a href="{%url 'contact'%}">Contact Form</a></p>
    {%endblock%}
</body>
</html>